body {
    margin: 0;
    font-family: "Lucida Console", Monaco, monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.square {
    background: rgb(245, 245, 245);
    border: 1px solid rgb(0, 0, 0);
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 60px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 60px;
}
  
.square:focus {
    outline: none;
}

.selected {
    background: rgb(184, 214, 223);
}

.user-inputted {
    color: rgb(33, 95, 165)
}

.row-piece {
    display: inline-block;
    margin-right: 2px;
    vertical-align: top;
}

.grid-row {
    clear: both;
    content: "";
    display: table;
    margin: 0
}

.grid-row-3 {
    clear: both;
    content: "";
    display: table;
    margin-bottom: 2px;
}

.game-grid {
    display: inline-block;
    background-color: black;
    padding-top: 1px;
    border-width: 2px 1px 2px 2px;
    border-style: solid;
    border-color: black;
}

.game-container {
    margin: auto;
    width: 50%;
    padding-top: 8%;
    text-align: center;
}

.toolbar {
    align-items: center;
    font-weight: bold;
    margin-top: 4%;
    margin-right: 15%;
    margin-left: 15%;
}

.top-row {
    display: flex;
    align-items: center;
}

.bottom-row {
    display: flex;
    align-items: center;
    margin-top: 4%;
}

.toolbar-elem {
    flex: 1;
    display: flex;
    justify-content: center;
}


.toolbar button {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 1em;
    background: none;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.toolbar button:enabled:focus {
    outline: none;
}

.toolbar button:enabled:hover {
    outline: none;
    color: rgb(243, 121, 40);
}

.toolbar button:disabled {
    cursor: default;
}